body{
    background-color: #121212;
    color: #fff;
}

/*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */

#loader{
  display: block;
}

#wrap{
   display: none;
}

.spinner {
  margin: 40vh auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 2vh;
  height: 2vh;
  background-color: #EE3124;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

#navbar {
  position: fixed; 
  top: -100%; 
  width: 100%;
  transition: top 0.5s;
  z-index: 11;
}

.nav-link{
  color: #121212!important;
}

.navbar-toggler:focus
{
         outline: none !important;
         box-shadow: none;
}

.navbar-toggler{
  border: none!important;
}

#changingText{
    font-size: 10vw;
    transform: rotate(-90deg);
    transform-origin: right top;
    position: absolute;
    right: 101%;
    white-space: nowrap; 
    opacity: 0.1;
    text-transform: uppercase;
}

header, section{
    min-height: 100vh;
}

.sectionHeading{
    font-size: 3rem;
}

.sectionInfo{
    font-size: 1.2rem;
}

.section{
    min-height: 100vh;
}

.text-danger{
    color: #EE3124!important;
}

.btn{
    border-radius: 64px;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.btn-danger{
    background-color: #EE3124;
}

.btn-outline-danger{
    border-color: #EE3124;
    color: #fff;
}

.btn-danger:hover{
    background-color: #DB4437;
    /* try fluid animation */
}

.btn-outline-danger:hover{
    background-color: #EE3124;
}

.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}

.text_1, .text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }
  
  60%, 90% {
    width: 100vh;
  }
}

@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 100vh;
  }
}



@media only screen and (max-width: 992px) {
  #changingText{
    font-size: 19vw;
    transform: rotate(0deg);
    left: 0;
    position: relative;
    margin-bottom: -8%;
}

.sectionHeading{
    font-size: 2.2rem;
}

.sectionInfo{
    font-size: 0.8rem;
}

@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }
  
  60%, 90% {
    width: 100vw;
  }
}

@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 100vw;
  }
}
}

#About{
  background-image: url('Assets/images/gears.png');
  background-size: cover;
}

#skills{
  padding-top: 15vh;
  position: relative;
}

#skills:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url('Assets/images/skillsCover.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-position: 50% 0;
  background-size: cover;
}

#skillsContent {
  position: relative;
}

.indiSkill {
padding: 4vh;
}

.indiSkill p{
  padding-top: 2vh;
  font-weight: bold;
}
.indiSkill img{
  height: 10vh;
}

#directContact a {
  text-decoration: none;
  color: #fff;
}

#directContact img{
  height: 4vh;
  margin: 1vh;
}

#socialContact img{
  height: 8vh;
  margin: 1vh;
}

#socialContact img:hover{
  transform: translateY(-2vh);
}

#heart:hover{
  color: #EE3124;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #fff;
}

img {  
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}